/*Colors*/
$body: #0A0A0B;
$container: #111213;
$title: #F1F2F3;
$text: #BABEC4;
$text-light: #888B91;
$text-white: #FFFFFF;
$blue: #4177DC;
$blue-alt: #306AD9;
$blue-light: #608CE2;
$blue-lighten: #93B1EB;

/*Font*/
$h1: clamp(1.5rem, 1.207rem + 1.3vw, 2.25rem);          // 24px → 36px
$h2: clamp(1.25rem, 1.152rem + 0.43vw, 1.5rem);         // 20px → 24px
$h3: clamp(1rem, 0.902rem + 0.43vw, 1.25rem);           // 16px → 20px
$h4: clamp(0.938rem, 0.913rem + 0.11vw, 1rem);          // 15px → 16px
$small: clamp(0.813rem, 0.788rem + 0.11vw, 0.875rem);   // 13px → 14px
$smaller: clamp(0.75rem, 0.726rem + 0.11vw, 0.813rem);  // 12px → 13px
/*Responsive*/