.about {
  margin-top: 136px;
}
.about__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 89px;
  flex-wrap: wrap;

  @media (max-width: 988px) {
    justify-content: center;
    gap: 94px;
  }
}
.about__interier {
  position: relative;
}
.about__image {
  width: clamp(19.5rem, 15.391rem + 18.26vw, 30rem);
}
.about__image-block {
  position: absolute;
  text-align: center;
  padding: 18px 20px 16px 20px;
  bottom: -50px;
  right: 0;

  box-sizing: border-box;
  width: 197px;
  height: 104px;

  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(16px);
}
.about__image-title {
  @include font (600, $h3, none);
  padding-bottom: 7px;
}
.about__image-text {
  @include font (400, $smaller, none);
  max-width: 157px;
}
.about__info {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;

  max-width: clamp(19.5rem, 17.323rem + 9.67vw, 25.063rem);
}
.about__title {
  @include title;
}
.about__text {
  @include text;
}
.about__btn {
  @include button;
}