/*Basic style*/
body {
  font-family: "Exo", sans-serif;
  line-height: 140%;
  color: $text-white;
  background: $body;

  overflow-x: hidden;
}

[class*="__container"] {
  width: 100%;
  max-width: 1054px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

p,
a,
button {
  color: $text-white;
}
button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.iconify {
  font-size: clamp(0.875rem, 0.728rem + 0.65vw, 1.25rem);
}

.section__title {
  @include font (600, $h2, $title);
  line-height: 140%;
}
.section__title-center {
  @include font (600, $h2, $title);
  text-align: center;
}
.section__text {
  @include font (400, $h4, $text);
}