
@mixin font ($font-weight, $font-size, $color) {
  font-family: "Exo", sans-serif;
  line-height: 140%;
  font-weight: $font-weight;
  font-size: $font-size;
  color: $color;
}
@mixin title {
  @include font (600, $h2, $title);
  line-height: 140%;
}
@mixin title-center {
  @include font (600, $h2, $title);
  text-align: center;
  line-height: 140%;
}
@mixin text {
  @include font (400, $h4, $text);
  line-height: 140%;
}
@mixin button {
  @include font (500, $h4, none);
  padding: 14px 32px;
  background-color: $blue;
  border-radius: 4px;
  border: none;
  transition: background-color .3s ease;
  &:hover {
    background-color: $blue-alt;
  }
}
// @mixin min-max($min-width, $max-width) {
//   min-width: $min-width;
//   max-width: $max-width;
//   box-sizing: border-box;
//   margin: 0 auto;
// }