.footer {
  position: relative;
  margin-top: 147px;

  &::before, &::after {
    position: absolute;
    content: '';
    
    background: rgba(55, 74, 109, 0.5);
    border-radius: 50%;
    filter: blur(90px);
    z-index: -1;
  }
  &::before {
    width: 500px;
    height: 500px;
    top: -73px;
    left: -5px;
  }
  &::after {
    width: 400px;
    height: 400px;
    top: 64px;
    right: 168px;
  }
}
.footer__container {
  display: flex;
  justify-content: space-between;
}
.footer__logo-block {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 200px;
}
.footer__logo {
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer-icon {
  font-size: 32px;
}
.footer__logo-text {
  @include font (600, $h2, none);
}
.footer__text {
  @include font (400, $small, $text);
}
.footer__content {
  display: flex;
  gap: 165px;
}
.footer__menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__menu-title {
  @include font (600, $h3, $title);
  padding-bottom: 12px;
}
.footer__menu-item {
}
.footer__menu-link {
  @include font (400, $h4, $text);
  transition: color .3s ease;

  &:hover {
    color: $text-white;
  }
}
.footer__socials {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer__socials-title {
  @include font (600, $h3, $title);
}
.footer__socials-logos {
  display: flex;
  gap: 24px;
}
.footer-copyright {
  margin: 100px 0 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.footer-copyright-icon {
  font-size: 12px;
  color: $text;
}
.footer__copyright-text {
  @include font (400, $smaller, $text);
}