.header {
  position: relative;
  height: 80px;
  margin-bottom: 72px;

  &::before, &::after {
    position: absolute;
    content: '';

    background: rgba(55, 74, 109, 0.5);
    border-radius: 50%;
    filter: blur(90px);

    z-index: -1;
  }
  &::before {
    width: 500px;
    height: 500px;
    top: -28px;
    left: 175px;
  }
  &::after {
    width: 400px;
    height: 400px;
    top: 404px;
    right: 161px;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header__logo {
  display: flex;
  gap: 4px;
}
.iconify {
}
.header__logo-text {
  @include font (500, $h4, none);
}
.header__burger-menu {
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}
.header__burger-bar {
  position: relative;
  display: block;
  cursor: pointer;

  width: 15px;
  height: 13px;

  z-index: 2000;
  span {
    position: absolute;
    width: 15px;
    height: 2px;

    background: $text-white;
    border-radius: 100px;
    display: inline-block;
    transition: .3s ease;
    left: 0;
  }
}
.header__burger-top {
  top: 0;
}
.header__burger-middle {
  top: 5px;
}
.header__burger-bottom {
  bottom: 0;
}
#menu-toggle {
  display: none;

  &:checked ~ .header__burger-bar .header__burger-top {
    transform: rotate(45deg);
    transform-origin: top left;
    width: 18px;
    left: .5px;
  }
  &:checked ~ .header__burger-bar .header__burger-bottom {
    transform: rotate(-45deg);
    transform-origin: top left;
    width: 18px;
    bottom: -2.5px;
    box-shadow: 0 0 10px #495057;
  }
  &:checked ~ .header__burger-bar .header__burger-middle {
    transform: translateX(-20px);
    opacity: 0;
  }
}
.header__burger-mobile {
  position: absolute;
  display: none;
  top: 7px;
  right: 0;
  border-radius: 16px 0 0 16px;
  backdrop-filter: blur(96px);
  background: rgba(255, 255, 255, 0.1);
  width: 200px;
  z-index: 1000;
  padding-bottom: 32px;

  @media (max-width: 768px) {
    display: none;
  }

  &.active {
    display: block;
  }
}
.header__burger-mobile-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
  &:first-child {
    padding: 130px 0 0 0;
  }
}
.header__burger-mobile-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__burger-mobile-link {
  @include font(500, $h4, $text-white);
  // padding: 16px;
  transition: color .3s ease 0s;
  text-transform: uppercase;

  &:hover {
    color: $blue;
    text-shadow: 0 0 32px #346dda;
  }
}

#menu-toggle:checked ~ .header__burger-mobile {
  display: block;
}
.header__menu {
  display: block;
  padding-top: 17px;

  @media (max-width: 768px) {
    display: none;
  }
}
.header__menu-list {
  display: flex;
  gap: 49px;
}
.header__menu-item {
}
.header__menu-link {
  @include font (500, $h4, none);
  transition: color .3s ease 0s;
  &:hover {
    color: $blue;
    text-shadow: 0 0 32px #346dda;
  }
}