.sub {
  margin-top: 70px;
  margin-bottom: 75px;

  background-image: url('../../../assets/images/sub-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: fit-content;
  
  padding: 72px 0 52px;
}
.sub__container {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  flex-wrap: wrap;
}
.sub__info {
}
.sub__title {
  @include title;
}
.sub__text {
  @include text;
  width: 375px;
  padding-top: 32px;
  padding-bottom: 48px;
}
.sub__btn {
  @include button;
}
.sub__img {
  margin-top: 64px;
}
.sub__image {
  width: clamp(25rem, 23.777rem + 5.43vw, 28.125rem);
}